<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">


<title>Book Directory</title>
</head>

<body>
	<div class="container">
		
		<h3>Book directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Book
		
		<form action="#" th:action="@{/books/save}"
						th:object="${book}" method="post">
			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}"> 
			
			<label>Book title: </label>
			<input type="text" th:field="*{title}"
				class="form-control mb-4 col-4" placeholder="Title">
			
			<label>Book subtitle: </label>
			<input type="text" th:field="*{subtitle}"
				class="form-control mb-4 col-4" placeholder="Subtitle">
				
			<label>Book author: </label>	
			<input type="text" th:field="*{Author}"
				class="form-control mb-4 col-4" placeholder="Author">
				
			<label>Year of the release: </label>
			<input type="number" th:field="*{year}"
				class="form-control mb-4 col-4" placeholder="2000">
				
			<label>Number of pages: </label>
			<input type="text" th:field="*{pageNumber}"
				class="form-control mb-4 col-4" placeholder="0">
				
			<label>Price1: </label>
			<input type="number" th:field="*{price1}"
				class="form-control mb-4 col-4" placeholder="0">
				
			<label>Price2: </label>
			<input type="number" th:field="*{price2}"
				class="form-control mb-4 col-4" placeholder="0">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
			
		</form>
		
		<hr>
		<a th:href="@{/books/list}">Back to books</a>
		
	</div>

</body>

</html>